<div id="transectChart" ng-style="{ 'width': transectChartService.minPanelWidth }" ng-show="chartState.targetChartId == 'transectChart'">

	<div ng-show="transectChartService.faultTransected"
		 class="fault-legend danger-pulse" ng-class="{'danger-pulse': transectChartService.faultTransected}"
		 tooltip="Faults are not ideal for CCS.."
		 tooltip-placement="left">
		<span class="fault-legend-color"></span>
		<strong> Known Faults Transected <i class="fa fa-exclamation-triangle"></i></strong>
	</div>

	<div id="transectChartD3Legend" class="clear-float">

		<div class="btn-group" style="float: right; margin: -10px 0px 20px 0px">
			<button type="button" class="btn btn-default" title="Find out information about the data behind these graphs"
					ng-click="showInfo = !showInfo">
				<i class="fa fa-info-circle" role="presentation" style="font-size:16px; color:black"></i>
			</button>

			<button type="button" class="btn btn-default" title="Close graphs" ng-click="transectChartService.hideChart()">
				<i class="fa fa-times-circle" role="presentation" style="font-size:16px; color:black"></i>
			</button>
		</div>

		<div ng-repeat="property in transectChartService.properties" class="clear-float" tooltip="{{property.description}}" tooltip-placement="left">
			<p>
				<span ng-style="{ 'background': property.color }" class="rect"></span>
				<strong>{{ property.label }} Z (m) </strong>
				<code ng-if="transectChartService.targetData && transectChartService.targetData[property.name]"> {{ transectChartService.targetData[property.name].z | number: 3}}</code>
				<code ng-if="!transectChartService.targetData || !transectChartService.targetData[property.name]"> -- </code>
			</p>
		</div>

		<div class="clear-float">
			<p tooltip="Closest x value to you cursor's position" tooltip-placement="left">
				<strong>X</strong>
				<code ng-if="transectChartService.targetData">{{transectChartService.targetData.x | number: 3}}</code>
				<code ng-if="!transectChartService.targetData"> -- </code>
			</p>
			<p tooltip="Closest y value to you cursor's position" tooltip-placement="left">
				<strong>Y</strong>
				<code ng-if="transectChartService.targetData">{{transectChartService.targetData.y | number: 3}}</code>
				<code ng-if="!transectChartService.targetData"> -- </code>
			</p>
		</div>

	</div>

	<div id="transectChartD3"></div>

</div>