<exp-modal class="pointInspector ng-cloak" icon-class="fa-map-marker" is-open="point" on-close="clearPoint()" title="Features within approx. 2km">	
	<div class="pointContent" ng-controller="OverFeatureCtrl as over">
		<div style="padding-bottom:7px;">Elev. {{point.z | length : true}}, Lat. {{point.y | number : 3}}&deg;, Long. {{point.x | number:3}}&deg;</div>
		<div ng-show="featuresInfo.results.length > 0">
			<div>
				<div style="float:left; padding-bottom:10px">{{allHidden() && "Show" || "Hide"}} all features</div>
				<div style="float: right">				
					<a class="featureLink" href="javascript:;" title="Show all features on map"
						ng-click="toggleAll()"><i class="fa" ng-class="{'fa-eye-slash':allHidden(), 'fa-eye':!allHidden()}"></i></a>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div ng-hide="featuresInfo.results.length > 0">No nearby features.</div>
	
		<div ng-repeat="item in featuresInfo.results | featureGroups" ng-class="{'underlined':!$last}">
			<div ng-show="greaterThanOneItem()"  ng-mouseover="over.groupEnter(featuresInfo.results, item)" ng-mouseout="over.groupLeave(featuresInfo.results, item)">
				<div style="float:left">
					<button type="button" class="undecorated" ng-click="expanded = !expanded"><i class="fa fa-caret-right pad-right" ng-class="{'fa-caret-down':expanded,'fa-caret-right':(!expanded)}"></i></button></button><strong>{{metadata[item].heading}}</strong>
				</div>
				<div style="float: right">	
					<a class="featureLink" href="javascript:;" title="Show on map"   
						ng-click="groupShow(item)"><i class="fa" ng-class="{'fa-eye-slash':(!oneShowing()), 'fa-eye':oneShowing()}"></i></a>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div ng-repeat="feature in featuresInfo.results | filterGroupsByLayername : item" ng-show="expanded || !greaterThanOneItem()">
				<div ng-mouseover="over.mouseenter(feature)" ng-mouseout="over.mouseleave(feature)" ng-click="over.click()">
					<div style="float: left;" ng-class="{'pad-left-big':greaterThanOneItem()}">
						<button type="button" ng-click="feature.expanded = !feature.expanded" class="undecorated"><i class="fa fa-caret-right pad-right" ng-class="{'fa-caret-down':feature.expanded,'fa-caret-right':(!feature.expanded)}"></i></button>
						<a href="javascript:;" class="featureLink" title="{{metadata[feature.layerName].description}}"
							ng-click="makeFeatureActive()" ng-class="{active:(feature.active)}">{{createTitle()}}</a>
					</div>
					<div style="float: right">	
						<a class="featureLink" href="javascript:;" title="Graph elevation changes for feature's path."
							ng-click="elevationPath(metadata[feature.layerName].label + ' elevation plot')"><i class="fa fa-align-left fa-rotate-270" ng-show="feature.geometryType == 'esriGeometryPolyline'"></i></a>					
						<a class="featureLink" href="javascript:;" title="Show on map"
							ng-click="toggleShow(feature)"><i class="fa" ng-class="{'fa-eye-slash':(!feature.displayed), 'fa-eye':feature.displayed}"></i> </a>
					</div>
				</div>
				<div style="clear:both;" ng-init="featureMeta = metadata[feature.layerName]">
					<div ng-repeat="attribute in featureMeta.attributes" ng-show="feature.expanded">
						<div style="width:7em;float:left;font-weight:bold;padding-left:9px">{{attribute.label}}</div>
						<div style="min-width:12em;width:12em;margin-left:7.5em;" class="ellipsis" title="{{feature.attributes[attribute.key]}}">{{feature.attributes[attribute.key] | dashNull}}</div>
					</div>
					<div style="border-bottom:1px solid lightgray" ng-show="feature.expanded && !last"></div>
				</div>
			</div>	
		</div>
	</div>
</exp-modal>